<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/tyyli.css" />
    <title><%= otsikko %></title>
  </head>
  <body>
    <img src="/images/logo.jpg" title="Ostoslista" alt="Ostoslistan logo" />
    <h1>Ostoslista</h1>
    <% if kirjautunut? %>
      <p><a href="/ulos">Kirjaudu ulos</a></p>
    <% end %>
    <%= yield %>
    <footer>
    <p>Samin esimerkkitsoha, lähdekoodi: <a href="https://github.com/tsoha-syksy2012/ostoslista-esimerkki/tree/ruby_sinatra_sequel">Githubissa</a></p>
    <p><a href="http://www.flickr.com/photos/lizatko/1351377013/" title="something is rotten in the state of... basket by katka koscova, on Flickr">Logon kuva</a></p>
    </footer>
  </body>
</html>
